<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">                      <!-- указывается версия IE(в данном случае edge) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!-- указывает браузеру, что нужна ширина области просмотра такая же, как и ширина экрана   , устанавливает начальный масштаб страницы -->
    <title>Dashboard</title>
</head>

<body>
    <h1>Аутентификация успешна.</h1>
    <a href="{{url_for('logout')}}">Нажмите чтобы выйти</a>
</body>

</html>